.subscribe {
  background-image: url("../img/mailing.jpg");
  width: 1200;
  height: 411;
}

.catalog-filter {
  background-image: url("../img/catalog-background.jpg");
  width: 1200;
  height: 408;
}
