@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 410px;
  margin-right: 151px;
}

.navigation-logo {
  width: 138px;
  margin-right: 209px;
}

.navigation-user {
  width: 250px;
  margin-left: auto;
  margin-right: 72px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.button-blue {
  background: #83B3D3;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.page-header {
  background: #FFFFFF;
  color: #000000;
}

.navigation a {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.general {
  margin: 0 auto;
  width: 720px;
}

.general-about {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.general-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.button-brown {
  background: #756257;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.button-green {
  background: #7DB54F;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.clear {
  color: #FFFFFF;
  line-height: 23px;
}

.navigation-user a.button-brown {
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.reasons-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reasons-list li:nth-child(1) {
  color: #FFFFFF;
  background: #83B3D3;
  text-align: center;
  width: 1200px;
}

.reasons-list li:nth-child(2),
.reasons-list li:nth-child(4) {
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.reasons-list li:nth-child(3) {
  color: #333333;
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
}

.reasons-item {
  display: flex;
  align-items: center;
}

.reasons-item-small {
  width: 33.3%;
}

.reasons-item.reverse {
  flex-direction: row-reverse;
}

.reasons-container {
  display: flex;
  flex-direction: column;
}

.reasons-title  {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-list li:nth-child(2) .reasons-title,
.reasons-list li:nth-child(3) .reasons-title,
.reasons-list li:nth-child(4) .reasons-title {
  color: #000000;
  width: 400px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.services-list li:nth-child(1),
.services-list li:nth-child(3) {
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  width: 400px;
}

.services-list li:nth-child(2) {
  color: #333333;
  background: #FFFFFF;
  text-align: center;
  width: 400px;
}

.services-title  {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.feedback {
  text-align: center;
  margin: 0 auto;
  width: 720px;
}

.feedback-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.feedback-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.feedback a.button-brown {
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.subscribe {
  background: url("../img/mailing.jpg");
  width: 1200px;
  height: 411;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
}

.page-footer-information {
  display: flex;
}

.social {
  width: 160px;
  margin-left: 72px;
  margin-right: 60px;
}

.contact {
  width: 720px;
  text-align: center;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.about {
  width: 115px;
  margin-left: 53px;
  margin-right: 72px;
}

.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin-left: 71px;
}

a.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
}

.catalog-filter {
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200;
  height: 408;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.catalog-filter-form {
  display: flex;
  flex-direction: row;
  margin-left: 71px;
  margin-right: 72px;
}
.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item,
.catalog-filter-label {
  line-height: 23px;
}

.catalog-filter .button-blue {
  font-size: 16px;
  line-height: 21px;
}

.select-control {
  line-height: 23px;
  color: #333333;
  margin-right: 81px;
}

.catalog-hotels-results {
  display: flex;
}

.hotels-count {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-left: 71px;
  margin-right: 192px;
}

.hotel-card-list {
  margin-left: 72px;
}

.hotel-card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.hotel-carrs-type,
.hotel-card-price {
  line-height: 23px;
  color: #333333;
}

.hotel-card-link,
.hotel-card-add {
  font-size: 16px;
  text-decoration: none;
}

.hotel-card-rating {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.show-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.pages-number {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
